[submodule "data_sparsity"]
	path = data_sparsity
	url = https://github.com/JoFrhwld/data_sparsity.git
[submodule "notation"]
	path = notation
	url = https://github.com/JoFrhwld/notation.git
[submodule "reading"]
	path = reading
	url = https://github.com/JoFrhwld/reading.git
[submodule "what_is_nlp"]
	path = what_is_nlp
	url = https://github.com/JoFrhwld/what_is_nlp.git
